* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 25px;
    color: black;
}

.container {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    justify-content: center;
    flex-wrap: wrap;
    height: 575px;
    width: 700px;
}

.card {
    background: #A2B5BB;
    border: 1px solid salmon;
    border-radius: 10px;
    margin: 10px;
    padding: 30px;
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 150px;
}

.card {
    transition: 2s ease;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(180deg);
    background: #CFD2CF;
}

.front, .back {
    backface-visibility: hidden;
    position: center;
    transform: rotateX(0deg);
}


.back {
    transform: rotateY(180deg);
}